.topform {
    -fx-background-color: linear-gradient(to bottom, #FAF9F6, #FFFFFF);
    -fx-border-color: #00008B;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-background-image: url('/images/mainform.png'); /* Replace with your image path */
    -fx-background-size: cover; /* Adjusts the image to cover the entire background */
    -fx-background-repeat: no-repeat; /* Ensures the image does not repeat */
}
